*
{
    margin: 0;
    padding: 0;
}

body
{
    color: #333;
}

/*************** Навигация ************/

nav li
{
    display: inline-block;

    margin: 10px;

    color: #c0c0c0;
    border-radius: 10px;
    background: #fff;
    background: rgba(0,0,0, .1);
}

nav li.active
{
    color: #c0c0c0;
    background: #666;
    background: rgba(0,0,0, .5);
}

nav li a
{
    text-decoration: none;

    color: #c0c0c0;
}

nav li.active a:hover
{
    color: #c0c0c0;
}

nav a:hover
{
    color: #fff;
}

nav li:hover
{
    background: rgba (255,255,255, .8);
}

nav li a,
nav li.active a
{
    display: block;

    padding: 10px 20px;
}

nav li.active a
{
    color: #fff;
}

nav
{
    font-family: 'Dancing Script', cursive,Times, sans-serif;
    font-size: 24px;

    position: fixed;
    z-index: 70;
    top: 0;
    right: 0;

    width: 100%;
    height: 40px;
}

section
{
    font-family: 'Dancing Script', cursive,Times, sans-serif;
    font-size: 16px;

    position: fixed;
    z-index: 70;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50px;

    text-align: center;

    color: #c0c0c0;
    background-color: rgba(0,0,0, .5);
}
/*********** Конец меню ************/

.section
{
    text-align: center;
}

#section0,
#section1,
#section2,
#section3
{
    overflow: hidden;

    background-attachment: fixed;
    background-size: cover;
}

#section0
{
    margin-top: -20px;

    background-image: url(../images/bg1.jpg);
}

#section1
{
    background-image: url(../images/bg2.jpg);
}

#section2
{
    background-image: url(../images/bg8.jpg);
}

#section3
{
    background-image: url(../images/bg3.jpg);
}

#section0 h1,
#section1 h1,
#section2 h1
{
    font: 45px 'Julee', cursive,Times, sans-serif;
}

#section0 h1
{
    margin-top: 10%;
    margin-bottom: 25px;
    margin-left: 130%;

    color: #009d4f;
    text-shadow: 5px 5px 15px #0f0;
}

#section0 p,
#section1 p,
#section2 p
{
    font: 18px 'Indie Flower', cursive,Times, sans-serif;

    margin-top: 25px;
}

#section0 p
{
    margin-top: 130%;
    margin-right: 300px;
    margin-left: 300px;

    color: #3a3a3a;
}

#section1 h1
{
    margin-top: 5%;
    margin-left: 130%;

    color: #009d4f;
    text-shadow: 5px 5px 15px #0f0;
}

#section1 p
{
    margin-top: 5px;
    margin-left: 130%;

    color: #3a3a3a;
}

.bold
{
    font-size: 22px;

    color: #e60073;
}

#section2 h1
{
    display: none;

    margin: 5% auto 25px auto;

    color: #009d4f;
    text-shadow: 5px 5px 15px #0f0;
}

table
{
    font: 24px 'Indie Flower', cursive,Times, sans-serif;

    margin: 0 auto;
    margin-top: 130%;

    border-spacing: 10px;

    border-radius: 15px 25px;
}

th
{
    text-align: center;

    color: #008040;
    border-bottom: 3px solid #008040;
    text-shadow: 5px 5px 15px #0f0;
}

tr
{
    text-align: left;

    color: #3a3a3a;
    border: 1px solid black;
}

.praus
{
    color: #3a3a3a;
}
/************ Слайдер **************/

.fotorama
{
    display: none;

    width: 45%;
    margin: 7% auto 0 ;

    outline: 0 solid red;
}
/************ Коней слайдера **************/
